SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-8/i2c-8/8-0049/hwmon/hwmon?", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add amb_carrier %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-8/i2c-8/8-0049/hwmon/hwmon?", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm amb_carrier %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-8/i2c-8/8-004a/hwmon/hwmon?", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add amb_switch %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-8/i2c-8/8-004a/hwmon/hwmon?", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm amb_switch %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-3/i2c-3/3-0058/hwmon/hwmon?", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add psu1 %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-3/i2c-3/3-0058/hwmon/hwmon?", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm psu1 %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-3/i2c-3/3-0059/hwmon/hwmon?", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add psu2 %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-3/i2c-3/3-0059/hwmon/hwmon?", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm psu2 %S %p"

SUBSYSTEM=="iio", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-10/i2c-10/10-006d/iio:device0", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add A2D %S %p"
SUBSYSTEM=="iio", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-10/i2c-10/10-006d/iio:device0", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm A2D %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-10/i2c-10/10-0027/hwmon/hwmon?", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add UCD %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-10/i2c-10/10-0027/hwmon/hwmon?", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm UCD %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-10/i2c-10/10-0041/hwmon/hwmon?", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add VcoreUCD %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-10/i2c-10/10-0041/hwmon/hwmon?", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm VcoreUCD %S %p"

SUBSYSTEM=="platform", DEVPATH=="/devices/platform/ahb/ahb:apb/1e6e9000.adc", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add ADC %S %p"
SUBSYSTEM=="platform", DEVPATH=="/devices/platform/ahb/ahb:apb/1e6e9000.adc", ACTION=="rm", RUN+="/usr/bin/mlx-hw-events.sh add ADC %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-4/i2c-4/4-0071/hwmon/hwmon?", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add reset %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-4/i2c-4/4-0071/hwmon/hwmon?", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm reset %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-4/i2c-4/4-0071/hwmon/hwmon?", ACTION=="change", RUN+="/usr/bin/mlx-hw-events.sh change reset %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e786000.pwm/hwmon/hwmon?", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add fan %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e786000.pwm/hwmon/hwmon?", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm fan %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-3/i2c-3/3-0050/hwmon/hwmon?", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add eeprom_psu1 %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-3/i2c-3/3-0050/hwmon/hwmon?", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm eeprom_psu1 %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-3/i2c-3/3-0051/hwmon/hwmon?", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add eeprom_psu2 %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-3/i2c-3/3-0051/hwmon/hwmon?", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm eeprom_psu2 %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-14/i2c-14/14-0050/hwmon/hwmon?", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add eeprom_fan1 %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-14/i2c-14/14-0050/hwmon/hwmon?", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm eeprom_fan1 %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-15/i2c-15/15-0050/hwmon/hwmon?", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add eeprom_fan2 %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-15/i2c-15/15-0050/hwmon/hwmon?", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm eeprom_fan2 %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-16/i2c-16/16-0050/hwmon/hwmon?", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add eeprom_fan3 %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-16/i2c-16/16-0050/hwmon/hwmon?", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm eeprom_fan3 %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-17/i2c-17/17-0050/hwmon/hwmon?", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add eeprom_fan4 %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-17/i2c-17/17-0050/hwmon/hwmon?", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm eeprom_fan4 %S %p"

SUBSYSTEM=="leds", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-4/i2c-4/4-0071/leds/mlnxcpld_ctrl:fan1:green", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add fan1_green %S %p"
SUBSYSTEM=="leds", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-4/i2c-4/4-0071/leds/mlnxcpld_ctrl:fan1:green", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm fan1_green %S %p"

SUBSYSTEM=="leds", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-4/i2c-4/4-0071/leds/mlnxcpld_ctrl:fan1:red", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add fan1_red %S %p"
SUBSYSTEM=="leds", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-4/i2c-4/4-0071/leds/mlnxcpld_ctrl:fan1:red", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm fan1_red %S %p"

SUBSYSTEM=="leds", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-4/i2c-4/4-0071/leds/mlnxcpld_ctrl:fan2:green", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add fan2_green %S %p"
SUBSYSTEM=="leds", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-4/i2c-4/4-0071/leds/mlnxcpld_ctrl:fan2:green", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm fan2_green %S %p"

SUBSYSTEM=="leds", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-4/i2c-4/4-0071/leds/mlnxcpld_ctrl:fan2:red", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add fan2_red %S %p"
SUBSYSTEM=="leds", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-4/i2c-4/4-0071/leds/mlnxcpld_ctrl:fan2:red", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm fan2_red %S %p"

SUBSYSTEM=="leds", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-4/i2c-4/4-0071/leds/mlnxcpld_ctrl:fan3:green", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add fan3_green %S %p"
SUBSYSTEM=="leds", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-4/i2c-4/4-0071/leds/mlnxcpld_ctrl:fan3:green", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm fan3_green %S %p"

SUBSYSTEM=="leds", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-4/i2c-4/4-0071/leds/mlnxcpld_ctrl:fan3:red", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add fan3_red %S %p"
SUBSYSTEM=="leds", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-4/i2c-4/4-0071/leds/mlnxcpld_ctrl:fan3:red", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm fan3_red %S %p"

SUBSYSTEM=="leds", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-4/i2c-4/4-0071/leds/mlnxcpld_ctrl:fan4:green", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add fan4_green %S %p"
SUBSYSTEM=="leds", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-4/i2c-4/4-0071/leds/mlnxcpld_ctrl:fan4:green", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm fan4_green %S %p"

SUBSYSTEM=="leds", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-4/i2c-4/4-0071/leds/mlnxcpld_ctrl:fan4:red", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add fan4_red %S %p"
SUBSYSTEM=="leds", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-4/i2c-4/4-0071/leds/mlnxcpld_ctrl:fan4:red", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm fan4_red %S %p"

SUBSYSTEM=="leds", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-4/i2c-4/4-0071/leds/mlnxcpld_ctrl:status:green", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add status_green %S %p"
SUBSYSTEM=="leds", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-4/i2c-4/4-0071/leds/mlnxcpld_ctrl:status:green", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm status_green %S %p"

SUBSYSTEM=="leds", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-4/i2c-4/4-0071/leds/mlnxcpld_ctrl:status:red", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add status_red %S %p"
SUBSYSTEM=="leds", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-4/i2c-4/4-0071/leds/mlnxcpld_ctrl:status:red", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm status_red %S %p"

SUBSYSTEM=="leds", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-4/i2c-4/4-0071/leds/mlnxcpld_ctrl:status:amber", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add status_amber %S %p"
SUBSYSTEM=="leds", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-4/i2c-4/4-0071/leds/mlnxcpld_ctrl:status:amber", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm status_amber %S %p"
