SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld/i2c-1/i2c-9/9-0049/hwmon/hwmon?", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add amb_current %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld/i2c-1/i2c-9/9-0049/hwmon/hwmon?", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm amb_current %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld/i2c-1/i2c-9/9-004a/hwmon/hwmon?", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add amb_switch %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld/i2c-1/i2c-9/9-004a/hwmon/hwmon?", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm amb_switch %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld/i2c-1/i2c-4/4-0059/hwmon/hwmon?", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add psu1 %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld/i2c-1/i2c-4/4-0059/hwmon/hwmon?", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm psu1 %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld/i2c-1/i2c-5/5-0027/hwmon/hwmon?", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add psu1 %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld/i2c-1/i2c-4/4-0058/hwmon/hwmon?", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add psu2 %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld/i2c-1/i2c-4/4-0058/hwmon/hwmon?", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm psu2 %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-3/i2c-3/3-0071/hwmon/hwmon?", ACTION=="add", RUN+="/usr/bin/mlx-hw-events.sh add reset %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-3/i2c-3/3-0071/hwmon/hwmon?", ACTION=="remove", RUN+="/usr/bin/mlx-hw-events.sh rm reset %S %p"
